<template>
  <div class="landing-page">
    <h1>Electron-Template</h1>
    <el-button @click="showMessage">click me</el-button>
  </div>
</template>

<script>
export default {
  name: 'landing-page',
  data () {
    return {
      message: 'hello electron!'
    }
  },
  methods: {
    showMessage () {
      this.$notify({type: 'success', message: this.message})
    }
  }
}
</script>

<style scoped>
.landing-page {
  height: 100%;
}
</style>
