<template>
  <div id="app">
    <landing-page></landing-page>
  </div>
</template>

<script>
  import LandingPage from '@/components/LandingPage'

  export default {
    name: 'yi-search',
    components: {
      LandingPage
    }
  }
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  font-family: 'Source Sans Pro', sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
}

#app {
  width: 100vw;
  height: 100vh;
}
</style>
